In [2]:
x = 2
x = 4
print(x)

4

# List Constants

In [4]:
print([1, 24, 76])
print(['red', 'yellow','blue'])
print(['red', 24, 98.6])
print([ 1, [5, 6], 7])
print([])

[1, 24, 76]
['red', 'yellow', 'blue']
['red', 24, 98.6]
[1, [5, 6], 7]
[]

In [5]:
for i in [5, 4, 3, 2, 1] :
    print(i)
print('Blastoff!')

5
4
3
2
1
Blastoff!

# Lists and Definite Loops - Best Pals

In [6]:
friends = ['Joseph', 'Glenn', 'Sally']
for friend in friends :
    print('Happy New Year:', friend)
print('Done!')

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally
Done!

In [7]:
z = ['Joseph', 'Glenn', 'Sally']
for x in z:
    print('Happy New Year:', x)
print('Done!')

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally
Done!

In [8]:
friends = [ 'Joseph', 'Glenn', 'Sally' ]
print(friends[1])

Glenn

# Lists are Mutable

In [9]:
fruit = 'Banana'
fruit[0] = 'b'

TypeError: 'str' object does not support item assignment

In [10]:
x = fruit.lower()
print(x)
lotto = [2, 14, 26, 41, 63]
print(lotto)
lotto[2] = 28
print(lotto)

banana
[2, 14, 26, 41, 63]
[2, 14, 28, 41, 63]

# How Long is a List?

In [11]:
greet = 'Hello Bob'
print(len(greet))

9

In [12]:
x = [ 1, 2, 'joe', 99]
print(len(x))

4

# Using the range Function

In [13]:
friends = ['Joseph', 'Glenn', 'Sally']
print(len(friends))

3

In [14]:
print(range(len(friends)))

range(0, 3)

In [15]:
print(range(4))

range(0, 4)

# Concatenating Lists Using +

In [16]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6]

In [17]:
print(a)

[1, 2, 3]

# Lists Can Be Sliced Using :

In [18]:
Hello = [9, 41, 12, 3, 74, 15]
Hello[1:3]

[41, 12]

# List Methods

In [19]:
x = list()
type(x)

list

In [20]:
 dir(x)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

# Building a List from Scratch

In [21]:
stuff = list()
stuff.append('book')
stuff.append(99)
print(stuff)

['book', 99]

In [22]:
stuff.append('cookie')
print(stuff)

['book', 99, 'cookie']

# Is Something in a List?

In [23]:
some = [1, 9, 21, 10, 16]
9 in some

True

In [24]:
15 in some

False

In [25]:
20 not in some

True

# Lists are in Order

In [26]:
friends = [ 'Joseph', 'Glenn', 'Sally' ]
friends.sort()
print(friends)

['Glenn', 'Joseph', 'Sally']

In [27]:
print(friends[1])

Joseph

# Built-in Functions and Lists

In [28]:
 nums = [3, 41, 12, 9, 74, 15]
print(len(nums))

6

In [29]:
print(sum(nums)/len(nums))

25.666666666666668

In [30]:
total = 0
count = 0
while True :
    inp = input('Enter a number: ')
    if inp == 'done' : break
    value = float(inp)
    total = total + value
    count = count + 1
average = total / count
print('Average:', average)

Enter a number: 3
Enter a number: 3
Enter a number: 4
Enter a number: 9
Enter a number: 5
Enter a number: 3
Enter a number: 9
Enter a number: 5
Enter a number: 4.5
Enter a number: done
Average: 5.055555555555555

In [31]:
numlist = list()
while True :
    inp = input('Enter a number: ')
    if inp == 'done' : break
    value = float(inp)
    numlist.append(value)
average = sum(numlist) / len(numlist)
print('Average:', average)

Enter a number: 5
Enter a number: 9
Enter a number: done
Average: 7.0

# Best Friends: Strings and Lists

In [32]:
abc = 'With three words'
>>> stuff = abc.split()
print(stuff)
print(len(stuff))
print(stuff[0])

['With', 'three', 'words']
3
With

In [33]:
for w in stuff :  print(w)

With
three
words

In [34]:
line = 'A lot of spaces'
etc = line.split()
print(etc)

['A', 'lot', 'of', 'spaces']

In [35]:
line ='first;second;third'
thing = line.split()
print(thing)

['first;second;third']

In [36]:
print(len(thing))

1

In [37]:
thing = line.split(';')
print(thing)

['first', 'second', 'third']

In [38]:
print(len(thing))

3

In [39]:
fhand = open('titanic.txt')
for line in fhand:
    line = line.rstrip()
    if not line.startswith('12') : continue
    words = line.split()
    print(words[2])

Elizabeth",female,58,0,0,113783,26.55,C103,S
Ellis
Stanley
Leonard
Nicholas",male,32.5,1,0,237736,30.0708,,C
Susan",female,32.5,0,0,27267,13,E101,S
Percival
Elias",male,12,1,0,2651,11.2417,,C
Martin",male,,0,0,370372,7.75,,Q
Fridtjof
Anna",female,,1,1,2668,22.3583,F

In [40]:
line = 'Nicholas",male,32.5,1,0,237736,30.0708,,C'
words = line.split()
print(words)

['Nicholas",male,32.5,1,0,237736,30.0708,,C']

# The Double Split Pattern

In [43]:
fhand = open('titanic.txt')
for line in fhand:
    line = line.rstrip()
    if not line.startswith('12') : continue
    words = line.split()
    print(words[2])
email = words[1]
pieces = email.split('male')

Elizabeth",female,58,0,0,113783,26.55,C103,S
Ellis
Stanley
Leonard
Nicholas",male,32.5,1,0,237736,30.0708,,C
Susan",female,32.5,0,0,27267,13,E101,S
Percival
Elias",male,12,1,0,2651,11.2417,,C
Martin",male,,0,0,370372,7.75,,Q
Fridtjof
Anna",female,,1,1,2668,22.3583,F