# Tuples

# Tuples Are Like Lists

In [4]:
x = ('Glenn', 'Sally', 'Joseph')
print(x[2])

Joseph

In [6]:
y = ( 1, 9, 2 )
print(y)
print(max(y))

(1, 9, 2)
9

In [7]:
for iter in y:
    print(iter)

1
9
2

# Tuples are “immutable”

In [8]:
x = [9, 8, 7]
x[2] = 6
print(x)

[9, 8, 6]

In [9]:
y = 'ABC'
y[2] = 'D'

TypeError: 'str' object does not support item assignment

# Tuples and Assignment

In [10]:
(x, y) = (4, 'fred')
print(y)

fred

In [11]:
(a, b) = (99, 98)
print(a)

99

# Tuples and Dictionaries

In [12]:
d = dict()
d['csev'] = 2
d['cwen'] = 4
for (k,v) in d.items():
    print(k, v)

csev 2
cwen 4

In [13]:
tups = d.items()
print(tups)

dict_items([('csev', 2), ('cwen', 4)])

# Tuples are Comparable

In [14]:
(0, 1, 2) < (5, 1, 2)

True

In [15]:
(0, 1, 2000000) < (0, 3, 4)

True

In [16]:
( 'Jones', 'Sally' ) < ('Jones', 'Sam')

True

In [17]:
( 'Jones', 'Sally') > ('Adams', 'Sam')

True

# Sorting Lists of Tuples

In [18]:
d = {'a':10, 'b':1, 'c':22}
d.items()

dict_items([('a', 10), ('b', 1), ('c', 22)])

In [19]:
sorted(d.items())

[('a', 10), ('b', 1), ('c', 22)]

# Using sorted()

In [20]:
d = {'a':10, 'b':1, 'c':22}
t = sorted(d.items())
t

[('a', 10), ('b', 1), ('c', 22)]

In [22]:
for k, v in sorted(d.items()):
    print(k, v)

a 10
b 1
c 22

# Sort by Values Instead of Key

In [23]:
c = {'a':10, 'b':1, 'c':22}
tmp = list()
for k, v in c.items() :
    tmp.append( (v, k) )
print(tmp)

[(10, 'a'), (1, 'b'), (22, 'c')]

In [24]:
tmp = sorted(tmp, reverse=True)
print(tmp)

[(22, 'c'), (10, 'a'), (1, 'b')]

In [25]:
fhand = open('titanic.txt')
counts = {}
for line in fhand:
    words = line.split()
    for word in words:
        counts[word] = counts.get(word, 0 ) + 1
lst = []
for key, val in counts.items():
    newtup = (val, key)
    lst.append(newtup)
lst = sorted(lst, reverse=True)
for val, key in lst[:10] :
    print(key, val)

Mr. 517
Miss. 182
Mrs. 125
William 47
Master. 40
John 28
Henry 18
Thomas 17
Charles 16
George 14

# Shorter Version

In [26]:
c = {'a':10, 'b':1, 'c':22}
print( sorted( [ (v,k) for k,v in c.items() ] ))

[(1, 'b'), (10, 'a'), (22, 'c')]