# Loops and Iteration

In [1]:
n= 0
while n > 0 :
    print('Lather')
    print('Rinse')
print('Dry off!')

Dry off!

# Breaking out of a loop

In [2]:
while True:
    line = input('> ')
    if line == 'done' :
        break
    print(line)
print('Done!')

> done
Done!

# Continue

In [10]:
while True:
    line = input('> ')
    if line[0] == '#' :
        continue
    if line == 'done' :
        break
    print(line)
print('Done!')

> done
Done!

# Definite Loop

In [11]:
friends = ['Joseph', 'Glenn', 'Sally']
for friend in friends : 
    print('Happy New Year:', friend)
print('Done!')

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally
Done!

# In

In [12]:
for i in [1 , 2, 3 , 4, 5]:
    print(i)

1
2
3
4
5

# Looping through a set

In [13]:
print("Before")
for num in [1,5,6,86,3,6]:
    print(num)
print("After")

Before
1
5
6
86
3
6
After

# Largest value

In [16]:
largest=-1
print("Before" , largest)
for num in [4,64,64,98,5,35,367,67,4]:
    if num > largest:
        largest = num
    print(largest, num)
print(largest, "After")

Before -1
4 4
64 64
64 64
98 98
98 5
98 35
367 367
367 67
367 4
367 After

# Summing

In [17]:
zork = 0
print('Before', zork)
for thing in [9, 41, 12, 3, 74, 15] : 
    zork = zork + thing
    print(zork, thing)
print('After', zork)

Before 0
9 9
50 41
62 12
65 3
139 74
154 15
After 154

# Counting

In [18]:
zork = 0
print('Before', zork)
for thing in [9, 41, 12, 3, 74, 15] :
    zork = zork + 1
    print(zork, thing)
print('After', zork)

Before 0
1 9
2 41
3 12
4 3
5 74
6 15
After 6

# Average

In [19]:
count = 0
sum = 0
print('Before', count, sum)
for value in [9, 41, 12, 3, 74, 15] :
    count = count + 1
    sum = sum + value
    print(count, sum, value)
print('After', count, sum, sum / count)

Before 0 0
1 9 9
2 50 41
3 62 12
4 65 3
5 139 74
6 154 15
After 6 154 25.666666666666668

# Filtering

In [20]:
print('Before')
for value in [9, 41, 12, 3, 74, 15] :
    if value > 20:
        print('Large number',value)
print('After')

Before
Large number 41
Large number 74
After

# Search Using a Boolean Variable

In [21]:
found = False
print('Before', found)
for value in [9, 41, 12, 3, 74, 15] : 
    if value == 3 :
        found = True
    print(found, value)
print('After', found)

Before False
False 9
False 41
False 12
True 3
True 74
True 15
After True

# Smallest Value

In [22]:
smallest = None
print('Before')
for value in [9, 41, 12, 3, 74, 15] :
    if smallest is None : 
        smallest = value
    elif value < smallest : 
        smallest = value
    print(smallest, value)
print('After', smallest)

Before
9 9
9 41
9 12
3 3
3 74
3 15
After 3

# Is and Is not

In [23]:
smallest = None
print('Before')
for value in [9, 41, 12, 3, 74, 15] :
    if smallest is None : 
        smallest = value
    elif value < smallest : 
        smallest = value
    print(smallest, value)
print('After', smallest)

Before
9 9
9 41
9 12
3 3
3 74
3 15
After 3